<mat-tab-group>

  <mat-tab label="Progress">
    <table mat-table [dataSource]="taskProgress" class="mat-elevation-z8">
      <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef> taskName </th>
        <td mat-cell *matCellDef="let taskProgress"> {{taskProgress.taskName}} </td>
      </ng-container>

      <ng-container matColumnDef="weeklyRemaining">
        <th mat-header-cell *matHeaderCellDef> weeklyRemaining </th>
        <td mat-cell *matCellDef="let taskProgress"> {{taskProgress.remainingWeeklyMinutes}} </td>
      </ng-container>

      <ng-container matColumnDef="weeklyCompletedMinutes">
        <th mat-header-cell *matHeaderCellDef> weeklyCompletedMinutes </th>
        <td mat-cell *matCellDef="let taskProgress"> {{taskProgress.weeklyCompletedMinutes}} </td>
      </ng-container>

      <ng-container matColumnDef="totalCompletedMinutes">
        <th mat-header-cell *matHeaderCellDef> totalCompletedMinutes </th>
        <td mat-cell *matCellDef="let taskProgress"> {{taskProgress.totalCompletedMinutes}} </td>
      </ng-container>

      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef> goal </th>
        <td mat-cell *matCellDef="let taskProgress"> {{taskProgress.weeklyGoalMinutes}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let taskProgress"> {{taskProgress.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="taskProgressColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: taskProgressColumns;"></tr>
    </table>
  </mat-tab>

  <mat-tab label="Logs">
    <table mat-table [dataSource]="logs" class="mat-elevation-z8">
      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef> task </th>
        <td mat-cell *matCellDef="let log"> {{log.task}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> duration </th>
        <td mat-cell *matCellDef="let log"> {{log.duration}} </td>
      </ng-container>
      <ng-container matColumnDef="createdDateISO">
        <th mat-header-cell *matHeaderCellDef> createdDateISO </th>
        <td mat-cell *matCellDef="let log"> {{log.created.isoString}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="logsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: logsColumns;"></tr>
    </table>
  </mat-tab>

  <mat-tab label="Tasks">
    <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let task"> {{task.name}} </td>
      </ng-container>

      <ng-container matColumnDef="weeklyGoalMinutes">
        <th mat-header-cell *matHeaderCellDef> weeklyGoalMinutes </th>
        <td mat-cell *matCellDef="let task"> {{task.weeklyGoalMinutes}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let task"> {{task.status}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> category </th>
        <td mat-cell *matCellDef="let task"> {{task.category}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDateISO">
        <th mat-header-cell *matHeaderCellDef> createdDateISO </th>
        <td mat-cell *matCellDef="let task"> {{task.created.isoString}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tasksColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tasksColumns;" (dblclick)="editTask(row)"></tr>
    </table>
  </mat-tab>

  <mat-tab label="Categories">
    <table mat-table [dataSource]="categories" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let category"> {{category.name}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDateISO">
        <th mat-header-cell *matHeaderCellDef> createdDateISO </th>
        <td mat-cell *matCellDef="let category"> {{category.created.isoString}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="categoriesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: categoriesColumns;"></tr>
    </table>
  </mat-tab>

</mat-tab-group>