.active{
    background-color: #3f51b5;
    color: #fafafa
}

.menu-icon{
    font-size: 30px;
    height: 64px;
    width: 64px;
    line-height: 64px;
    vertical-align: middle;
}

.menu-button{
    cursor: pointer;
}

.menu-link{
    width:200px;
}

.sidenav-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

  mat-sidenav{
      background-color: rgba(0,0,0,.03);
  }

  .header{
      font-size: 20px;
  }