<mat-toolbar color="primary">
  <div>
    <button mat-button class="menu-button" (click)="toggle()">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <a class="header" mat-button routerLink="" [routerLinkActive]="['active']">TimeLogging</a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="opened">
    <div>
      <a class="menu-link" mat-button routerLink="/dashboard" [routerLinkActive]="['active']">Dashboard</a>
    </div>
    <div>
      <a class="menu-link" mat-button routerLink="/progress" [routerLinkActive]="['active']">Progress</a>
    </div>
    <div>
      <a class="menu-link" mat-button routerLink="/tasks" [routerLinkActive]="['active']">Tasks</a>
    </div>
    <div>
      <a class="menu-link" mat-button routerLink="/reporting" [routerLinkActive]="['active']">Reporting</a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>