.container {
    padding-top:15px;
    display: flex;
    justify-content: center;
}

.row{
    flex-basis: 80%;
}

.input{
    width:100%;
}

.button-padding{
    padding-right: 10px;
}

.button-flex{
    width: 20%;
}

.listItem{
    width:300px;
}

@media screen and (max-width: 400px) {
    .row{
        flex-basis: 95%;
    }
}